[submodule "pypsa-eur"]
	path = subworkflows/pypsa-eur
	url = https://github.com/pypsa/pypsa-eur
[submodule "subworkflows/pypsa-eur-mga"]
	path = subworkflows/pypsa-eur-mga
	url = https://github.com/pypsa/pypsa-eur-mga
[submodule "subworkflows/technology-data"]
	path = subworkflows/technology-data
	url = https://github.com/pypsa/technology-data
